@tailwind base;
@tailwind components;
@tailwind utilities;

.user, .model{
    @apply px-4 py-2 rounded-md text-black max-w-[60%] min-w-min
}
.user{
    @apply self-end bg-lime-400
}

.model{
    @apply self-start bg-blue-500
}

img{
  @apply inline-block w-12 h-12 align-bottom
}

::-webkit-scrollbar {
    width: 8px;
    margin-right: -20px;
}
  
  ::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
    border: 2px solid #fff;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
  }
